<!DOCTYPE html>
<html>
  <head>
    <title>tilde.town</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <style>
      body {
        background-color: #E0B0FF;
      }
      ul {
      list-style: none;
      padding: 8px 0 0 0;
      margin: 0;
      }

      li {
      padding-left: 16px;
      }

      li:before {
      content: "~";
      padding-right: 2px;
      cursor: default;
      }
      #title {
        text-align:center;
      }
      #intro {
        background-color: rgba(0,0,0,0.1);
      }
      .leftcol {
        float: left;
        margin-left: 10%;
        width: 40%;
      }
      .rightcol {
        float: right;
        margin-right:10%;
        width: 40%;
      }
      #logo pre {
        font-size: 150%;
      }
      #about {
        padding: 1em;
      }
      #dynamic div {
        padding-bottom: 2em;
      }
      #footer {
        padding: 1em;
        text-align:center;
        background-color: rgba(0,0,0,0.1);
        clear:both;

      }
      @media (max-width: 1200px) { #logo pre {font-size: 125%;} }
    </style>
  </head>
  <body>
    <div id="header">
      <div id="title">
        <!-- no idea why but i had to move the _ way over -->
        <pre>
               _                                            
    o  | |    |                               
_|_    | |  __|   _  _|_  __           _  _   
 |  |  |/  /  |  |/   |  /  \_|  |  |_/ |/ |  
 |_/|_/|__/\_/|_/|__/o|_/\__/  \/ \/    |  |_/
          </pre>
      </div>
      <div id="links">
      <p style="text-align:center">
      <a href="https://cgi.tilde.town/users/signup"><strong>sign up</strong></a>
        | <a href="/~wiki/faq.html">faq</a>
        | <a href="https://cgi.tilde.town/guestbook">sign our guestbook</a>
        | <a href="/~wiki/conduct.html">code of conduct</a>
        | <a href="https://cgi.tilde.town/help/tickets">file help ticket</a>
        | <a href="https://www.patreon.com/nathanielksmith">donate</a>
        | <a href="/~wiki">wiki</a>
      </p>
<marquee behavior="alternate"><strong>~*~*~* {{active_user_count}} townies active right now *~*~*~</strong></marquee>
      </div>
    </div>
    <div id="intro">
      <table>
        <tr>
          <td>
      <div id="logo" class="">
        <a style="text-decoration:none" href="https://cgi.tilde.town/users/random">
        <pre title="go to a random page">
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\
< |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~| >
< |      (  )        . '      t i l d e . t o w n | >
< |                 .                             | >
< |  __            :                              | >
< | / /\ __    ___!__    _,__       ___,_         | >
< |/ / o\/ \  /      /\ /__/ \     /__\__\  . .  .| >
< | /   \\  \/_____ /_*\  |  |[^][^|  |  |[^]())[^| >
< |/  /\    |      |    |_|__|  .: |__|__|  ()(/) | >
< |   ||    |  {^} |    |                  ( ~)()o| >
< | []  []  |   |  |    |. .   A  ._  .  .( O((/~)| >
< |  _  _   |___|__|__D_|    . H  / \  {^} ()||)  | >
< | | |[@]  |   |    .  .  .  | |/   \  |   \|| __| >
< |_|_|_____|         .  .    |^|     \ | v  ||/vv| >
< |      . .   v   v  .       | |      \|.  v /vvv| >
< |           .  v  v .      / O \    /|   . /vvvv| >
< |  |_ u _|     .  .       /  _  \  / |    .|    | >
< |  || | ||               /  |_|  \/  |     |    | >
< |                        |       |   |.    |    | >
<3|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~| >
\vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv/
        </pre>
        </a>
      </div>
          </td>
          <td>
      <div id="about" class="">
        <h1>tilde.town is a computer meant for sharing.</h1>
        <p>
          tilde.town is an <strong>intentional digital community</strong>
          for <strong>making art</strong>, <strong>socializing</strong>,
          and <strong>learning</strong>. Unlike many online spaces, users
          interact with tilde.town through a <strong>direct connection</strong>
          instead of a web site. This means using a tool
          called <a href="https://tilde.town/~wiki/ssh.html">ssh</a>
          and other text based tools.
        </p>
        <p>
          featured projects:
          <ul>
            <li><a href="https://github.com/tildetown/zine/blob/master/issue_1/zine.pdf">a zine!</a></li>
            <li><a href="https://tilde.town/~joe/">html art</a></li>
            <li><a href="https://tilde.town/~kc/blackout/">interactive art</a></li>
            <li><a href="https://tilde.town/~jumblesale/fp.html">visual art</a></li>
            <li><a href="https://twitter.com/auto_automata">twitter bots</a></li>
            <li><a href="http://tilde.town/~elly/userland.txt">peer education</a></li>
            <li><a href="https://tilde.town/~subtransience/machinecode/aphantom.html">poetry</a></li>
            <li><a href="https://tilde.town/~karlen/">spoken word</a></li>
            <li><a href="http://tilde.town/~fivestarhotel/">music</a></li>
          </ul>
        </p>
        <p>
          tilde.town is
          <strong>non-commercial</strong>, <a href="https://www.patreon.com/nathanielksmith">donation
          supported</a>, and committed to rejecting false technological progress
          in favor of <strong>empathy</strong> and <strong>sustainable</strong>
          computing.
        </p>
        <h2><a href="https://cgi.tilde.town/users/signup">sign up today!</h2>
      </div>
</td>
        </tr>
      </table>
    </div>
    <div id="dynamic">
      <div id="users" class="leftcol">
        <h1>our esteemed users </h1>
        <sub>({{live_user_count}} / {{user_count}} shown)</sub><br>
        <sub>generated at {{generated_at}}</sub><br>
        <sub>sorted by recent changes</sub><br>

        <ul>
          {{#users}}
          {{^default}}
          <li>
            <a href="/~{{username}}">{{username}}</a>
          </li>
          {{/default}}
          {{/users}}
        </ul>
        <a href="/users.html">full user list</a>
      </div>
      <div id="news" class="rightcol">
        <h1>news</h1>
        {{#news}}
        <h4>{{title}}</h4>
        <p><sub><em>{{pubdate}}</em></sub></p>
        <p>
          {{{content}}}
        </p>
        {{/news}}
      </div>
    </div>
    <div id="footer">
      <p>
      Unless otherwise noted, all tilde.town materials (besides user-generated
      content) are licensed
      as <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC
          4.0</a>. Users define their own licensing and own all of their content.
      </p>
      <p>
      tilde.town was founded on October 11, 2014 based on inspiration
      from <a href="http://tilde.club">tilde.club</a>.
      </p>
      <sub>
          our ECDSA key fingerprint is SHA256:rtcAQ1UdfGLMX5EgTJXpvbvdsSs5FrK7F722xoP2a/w.
      </sub>
      <p>
        tilde.town was founded and is
      maintained by <a href="https://tilde.town/~vilmibm">~vilmibm</a>.
      </p>
      <p>
        ascii postcard by <a href="https://tilde.town/~sanqui">~sanqui</a>
      </p>
    </div>
  </body>
  </html>
